.heroComponent__content{
    height: 100vh;
    width: 100vw;
    background-image: url("https://i.imgur.com/jwFAzZ1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px; /* espacio desde el borde inferior */
}

@media(max-width:600px){
    .heroComponent__content{
        background-size: 1500px;
    }
    .heroComponent__button{
        margin: 0px 30px;
    }
}

.heroComponent__button{
 background-color: #AE9237;
  color: #534B40;
  border: none;
  padding: 10px 17px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px 20px 5px 20px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.heroComponent__button p{
    margin: 0; /* elimina el margin por defecto del <p> */
}